<% cache bubble do %>
  <div class="<%= class_names("bubble", drafted: bubble.drafted?, popped: bubble.popped?) %>"
    style="view-transition-name: bubble-<%= bubble.id -%>; --bubble-color: <%= bubble.color %>; <%= bubble_rotation(bubble) %> <%= bubble_size(bubble) %>"
    data-controller="animation upload-preview"
    data-animation-play-class="bubble--wobble"
    data-animation-play-on-load-value="true"
    data-action="mouseover->animation#play">

    <div>
      <h1 class="bubble__title">
        <% if bubble.published? %>
          <%= turbo_frame_tag bubble, :edit do %>
            <%= link_to bubble_title(bubble), edit_bucket_bubble_path(bubble.bucket, bubble), class: "txt-undecorated bubble__title-rendered" %>
          <% end %>
        <% else %>
          <%= form_with model: bubble, url: bucket_bubble_path(bubble.bucket, bubble), id: "bubble_form", data: { controller: "auto-save" } do |form| %>
            <%= form.text_area :title, placeholder: "Name it…", class: "input input--textara txt-align-center full-width borderless bubble__title-rendered", autofocus: bubble.title.blank?, data: { action: "auto-save#change blur->auto-save#submit keydown.enter->auto-save#submit:prevent keydown.ctrl+enter->auto-save#submit:prevent" } %>
          <% end %>
        <% end %>

        <div class="bubble__tags flex flex-wrap align-end justify-center gap-half txt-tight-lines flex-item-no-shrink pad-inline-double">
          <%= render "bubbles/tags", bubble: bubble %>
        </div>
      </h1>
    </div>

    <div class="bubble__shape"></div>

    <%= link_to bucket_bubble_path(bubble.bucket, bubble), class: "bubble__link" do %>
      <span class="for-screen-reader"><%= bubble.title %></span>
    <% end %>

    <%= render "bubbles/assignments", bubble: bubble %>
    <%= render "bubbles/boosts", bubble: bubble %>
    <%= render "bubbles/comments", bubble: bubble %>
    <%= render "bubbles/date", bubble: bubble %>
    <%= render "bubbles/image", bubble: bubble %>
  </div>
<% end %>
