<% cache [ bubble ] do %>
  <article class="card shadow border flex flex-column position-relative txt-align-start full-width border-radius"
    style="--bubble-color: <%= bubble.color %>; view-transition-name: <%= dom_id(bubble, :ticket) %>;"
    id="<%= dom_id(bubble, :ticket) %>">
    <header class="card__header flex align-center gap min-width">
      <span class="card__bucket txt-uppercase overflow-ellipsis txt-reversed"><%= bubble.bucket.name %></span>
      <%= render "bubbles/cards/preview/tags", bubble: bubble %>
    </header>

    <div class="card__body flex gap full-width flex-item-grow">
      <div class="card__body-header">
        <h1 class="card__title">
          <span class="card__title-link overflow-line-clamp"><%= bubble_title(bubble) %></span>
        </h1>

        <%= link_to bucket_bubble_path(bubble.bucket, bubble), class: "card__link" do %>
          <span class="for-screen-reader"><%= bubble_title(bubble) %></span>
        <% end %>
      </div>

      <%= render "bubbles/stagings/stages", bubble: bubble %>
    </div>

    <footer class="card__footer full-width flex align-start gap">
      <%= render "bubbles/cards/preview/people", bubble: bubble %>
      <%= render "bubbles/cards/preview/meta", bubble: bubble %>
    </footer>

    <%= render "bubbles/cards/common/background", bubble: bubble %>
  </article>
<% end %>
