<li class="bucket flex flex-column txt-align-center max-width">
  <%= link_to bubbles_path(bucket_ids: [ bucket ]), class: "border border-radius margin-block-end-half windshield__container flex justify-center align-center position-relative" do %>
    <div class="windshield bucket__windshield flex flex-wrap gap justify-center align-end" style="view-transition-name: windshield_<%= bucket.id %>">
      <% bucket.bubbles.active.published_or_drafted_by(Current.user).ordered_by_activity.limit(10).each do |bubble| %>
        <div class="<%= class_names("bubble", drafted: bubble.drafted?) %>" style="--bubble-color: <%= bubble.color %>; <%= bubble_rotation(bubble) %> <%= bubble_size(bubble) %>">
          <span class="bubble__shape"></span>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="flex align-center justify-center flex-column flex-wrap center gap-half position-relative full-width">
    <%= link_to bubbles_path(bucket_ids: [ bucket ]), class: "txt-ink flex flex-column" do %>
      <strong class="txt-x-large"><%= bucket.name %></strong>
    <% end %>

    <%= link_to edit_bucket_path(bucket), class: "btn txt-small bucket__button" do %>
      <%= image_tag "settings.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Settings for <%= bucket.name %></span>
    <% end %>
  </div>
</li>
